@use "../../styles/variables" as *;

.hero-section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    margin: 30px;
    color: $text-color2;

    background: rgba(97, 97, 97, 0.39);

    &:hover {
      background: $hover-background;
    }

    h1 {
      text-align: center;
      font-size: 3rem;
    }
    p {
      text-align: center;
    }
  }
}
