* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
  cursor: pointer;
}
