// Couleurs principales
$text-color1: rgb(29, 29, 29);
$text-color2: rgb(241, 241, 241);

//Hover couleurs
$hover-background: rgba(184, 184, 184, 0.63);

//thin line before
$before-line: rgb(90, 90, 90);

//input background and text color
$background-color-form: rgb(231, 231, 231);
$background-color-form-hover: rgb(184, 184, 184);
$background-color-form-focus: rgb(180, 180, 180);
