.about {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 45% 55%;
  @media (max-width: 485px) {
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
  }

  .about-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    @media (max-width: 485px) {
      align-items: center;
    }
    p {
      @media (max-width: 485px) {
        text-align: center;
      }
    }
  }
  .about-image {
    max-height: 300px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
